*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;

    
    background-color: rgba(0,0,0,0.6);

    /* background-image: url(tree.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    background-blend-mode: overlay;

    color: #fff;
    
}


.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo{
    color: #ff7200;
    font-size: 32px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin: 0 15px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu li a:hover{
    color: #ff7200;
}

.search{
    display: flex;
}

.search input{
    padding: 8px;
    border: 1px solid #ff7200;
    background: transparent;
    color: #fff;
}

.search button{
    padding: 8px 15px;
    background: #ff7200;
    border: none;
    cursor: pointer;
    color: #000;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.text{
    width: 50%;
}

.text h1{
    font-size: 50px;
}

.text span{
    color: #ff7200;
}

.text p{
    margin: 20px 0;
    line-height: 1.6;
}

.join{
    background: #ff7200;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.login-box{
    width: 300px;
    background: rgba(0,0,0,0.7);
    padding: 25px;
    border-radius: 10px;
}

.login-box h2{
    background: #fff;
    color: #ff7200;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.login-box input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: #fff;
}

.login-btn{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #ff7200;
    border: none;
    cursor: pointer;
}

.link{
    text-align: center;
    margin-top: 15px;
}

.link a{
    color: #ff7200;
    text-decoration: none;
}

.icons-text{
    text-align: center;
    margin-top: 15px;
}

.icons{
    text-align: center;
    margin-top: 10px;
}

.icons i{
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 45px;
    height: auto;
}

.logo span{
    font-size: 32px;
    font-weight: bold;
    color: #ff7200;
}