* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #c76b29, #f1a15a);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #c76b29;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: #c76b29;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#error {
    color: red;
    margin-top: 10px;
}
