* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5efe9;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #a35720;
}

.navbar nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #444;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn.primary {
    background: #c76b29;
    color: white;
}

.btn.secondary {
    background: white;
    border: 1px solid #c76b29;
    color: #c76b29;
}

.navbar .btn {
    background: #c76b29;
    color: black;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: #d6803f;
    color: rgba(0, 0, 0, 0.836);
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-buttons button {
    margin-right: 15px;
}

.hero-image img {
    width: 420px;
    border-radius: 20px;
}

/* RECIPE CARDS */
.recipes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: -40px 0 40px;
    outline-color: #fff;
    outline-width: 200px;
}

.card {
    background: #c76b29;
    color: rgb(239, 236, 236);
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
}
.card img {
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    height: 130px;
    object-fit: cover;
}
.card {
    background: #c5621b;
    color: white;
    padding: 20px;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.recipes2{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: -40px 0 40px;
    outline-color: #fff;
    outline-width: 200px;
}