.box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
}

/* Link styling */
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

/* List styling */
ul {
    list-style-type: square;
}

/* Display property */
.inline-box {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: gray;
}

/* Positioning */
.relative-box {
    position: relative;
    left: 20px;
}

.fixed-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
}