.team-container {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 40px;                   
    padding: 50px;
    flex-wrap: wrap;             
}

.member {
    background-color: #f5f5f5;
    width: 260px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.member img {
    width: 180px;
    height: 180px;
    border-radius: 50%;         
    object-fit: cover;
    margin-bottom: 15px;
}


.member h3 {
    margin-bottom: 5px;
}


.member p {
    color: gray;
    font-size: 14px;
}


@media screen and (max-width: 600px) {
    .team-container {
        flex-direction: column;
    }
}